
@{
    Layout = null;
}

<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>University Course & Result Management System Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="css/magnific-popup.css" rel="stylesheet" />
    <link href="~/css/datepicker3.css" rel="stylesheet" />
    <link href="~/css/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/css/morris.css" rel="stylesheet" />
    <link href="~/css/theme.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/css/theme-custom.css" rel="stylesheet" />
    <script src="~/css/modernizr.js"></script>
</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header">
            <div class=" col-sm-3">
                <div class="logo-container">
                    <a href="../" class="logo">
                        <img src="logor.png" height="50" />
                    </a>
                    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>
            </div>
            <div class=" col-sm-9">
                <h1 class="logo" style="text-align: center; font-weight:bold; color: #34495E;">University Course & Result Management System</h1>
            </div>

        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title" style="color: #00ffff; font-weight:bold">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">
                            <ul class="nav nav-main">
                                <li class="nav-active">
                                    <a href="dashboard.html">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-parent nav-expanded nav-active">
                                    <a>
                                        <i class="fa fa-table" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Department Information</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="SaveDepartment" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Departments</a> </li>
                                        <li class="nav-active"><a href="ShowDepartment" style="font-weight:bold"><i class="fa fa-angle-right"></i>View All Departments</a> </li>
                                    </ul>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-tasks" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Course & Teacher Info</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="saveCourse.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Course </a></li>
                                        <li><a href="saveTeacher.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Teacher</a> </li>
                                        <li><a href="courseAssignToTeacher.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Course Assign to Teacher </a>
                                        <li><a href="viewCourseStatics.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Course Statics</a> </li>
                                    </ul>
                                </li>

                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Class Room & Schedule</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="allocateClassrooms.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Allocate Classrooms</a></li>
                                        <li><a href="viewClassScheduleRoomAllocationInformation.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Class Schedule & Room Allocation Information</a> </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-columns" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Reg-Student & Course-Enroll</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="registerStudent.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Register Student</a></li>
                                        <li><a href="enrollInaCourse.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Enroll In a Course</a> </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-table" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Student Result</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="saveStudentResult.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Save Student Result </a></li>
                                        <li><a href="viewResult.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>View Result</a> </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a>
                                        <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                        <span style="font-weight:bold;">Unassign & Unallocate</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li><a href="unassignAllCourses.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Unassign All Courses </a></li>
                                        <li><a href="unallocateAllClassRooms.html" style="font-weight:bold"><i class="fa fa-angle-right"></i>Unallocate All class Rooms</a> </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <hr class="separator" />
                    </div>
                </div>
            </aside>
            <!-- end: sidebar -->
            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>View All Department</h2>
                    <div class="right-wrapper pull-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="dashboard.html">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            <li><span>Department Information / View All Department </span></li>
                        </ol>
                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
                    </div>
                </header>
                <!-- start: page -->             
                <div class="row">
                    <div class="col-md-12">
                        <form id="form" action="forms-validation.html" class="form-horizontal">
                            <section class="panel-dark">
                                <header class="panel-heading" style="background-color: #34495E">
                                    <h2 class="panel-title">All&ensp;Department&ensp;Informations</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered mb-none">
                                            <thead>
                                                <tr style="background-color:#dfebf7">
                                                    <th>SL</th>
                                                    <th>Department Code</th>
                                                    <th>Department Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int i = 1; }                                             
                                                @if (Model != null && Model.DepartmentList != null && Model.DepartmentList.Count > 0)
                                                {                                         
                                                    foreach (var department in Model.DepartmentList)
                                                    {                                                      
                                                        <tr>                                                           
                                                            <td><label>@i</label> @{ i++; }</td>
                                                            <td>@department.DepartmentCode</td>
                                                            <td>@department.DepartmentName</td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <footer class="panel-footer" style="background-color: #34495E"></footer>
                            </section>
                        </form>
                    </div>

                </div>
                <!-- end: page -->
            </section>

        </div>

        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>
                    <div class="sidebar-right-wrapper">
                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>
                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <footer class="panel-footer" style="background-color: #34495E;text-align:center">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-9">
                    <h6 style="color: #ABB4BE">&copy; Green Wave IT Solutions </h6>
                </div>
            </div>

        </footer>
    </section>

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.browser.mobile.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/nanoscroller.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/magnific-popup.js"></script>
    <script src="~/Scripts/jquery.placeholder.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.4.custom.js"></script>
    <script src="~/Scripts/jquery.ui.touch-punch.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/bootstrap-multiselect.js"></script>
    <script src="~/Scripts/jquery.easypiechart.js"></script>
    <script src="~/Scripts/jquery.flot.js"></script>
    <script src="~/Scripts/jquery.flot.tooltip.js"></script>
    <script src="~/Scripts/jquery.flot.pie.js"></script>
    <script src="~/Scripts/jquery.flot.categories.js"></script>
    <script src="~/Scripts/jquery.flot.resize.js"></script>
    <script src="~/Scripts/jquery.sparkline.js"></script>
    <script src="~/Scripts/raphael.js"></script>
    <script src="~/Scripts/morris.js"></script>
    <script src="~/Scripts/gauge.js"></script>
    <script src="~/Scripts/snap.svg.js"></script>
    <script src="~/Scripts/liquid.meter.js"></script>
    <script src="~/Scripts/jquery.vmap.js"></script>
    <script src="~/Scripts/jquery.vmap.sampledata.js"></script>
    <script src="~/Scripts/jquery.vmap.world.js"></script>
    <script src="~/Scripts/jquery.vmap.africa.js"></script>
    <script src="~/Scripts/jquery.vmap.asia.js"></script>
    <script src="~/Scripts/jquery.vmap.australia.js"></script>
    <script src="~/Scripts/jquery.vmap.europe.js"></script>
    <script src="~/Scripts/jquery.vmap.north-america.js"></script>
    <script src="~/Scripts/jquery.vmap.south-america.js"></script>
    <script src="~/Scripts/theme.js"></script>
    <script src="~/Scripts/theme.custom.js"></script>
    <script src="~/Scripts/theme.init.js"></script>
    <script src="~/Scripts/examples.dashboard.js"></script>
</body>
</html>
